<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h1>The Home Page <%= 4 + 5 + 1 %>
    </h1>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore assumenda necessitatibus pariatur harum at
        suscipit error delectus sequi minus? Tempore, exercitationem atque maxime a natus blanditiis quae doloribus
        cumque praesentium?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, sapiente ipsa recusandae veritatis obcaecati,
        facere culpa quasi illo minima quae amet, eum reprehenderit odio delectus deleniti in numquam fuga nobis!
    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, asperiores nostrum enim velit sunt in ad et
        quaerat, doloremque corporis magnam, id voluptatem iste repellendus voluptate a esse perferendis deserunt.

    </p>
</body>

</html>