<% layout('layouts/boilerplate') %>
    <h1>Register</h1>
    <form action="/register" method="POST" class="validated-form" novaliate>
        <div class="mb-3">
            <lobal class="form-label" for="username">Username</lobal>
            <input class="form-control" type="text" id="username" name="username" required>
            <div class="vaild-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <lobal class="form-label" for="email">Email</lobal>
            <input class="form-control" type="email" id="email" name="email" required>
            <div class="vaild-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <lobal class="form-label" for="password">Password</lobal>
            <input class="form-control" type="password" id="password" name="passsword" required>
            <div class="vaild-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success">Register</button>
    </form>